body{
    background-color: white;
    text-align: center;
    
}

h3{
    width:  80%;  
    font-size:  23;
}

#camera{
    border: 2px dashed black;
    width:350px;
    height:300px;
    
}

#results_of_objects, #results_of_accuracy{
    color: yellow;
}

